.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 13px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: var(--color-darkblue);
  background-color: var(--color-lightgreen);
  transition: background-color 0.5s;
}

.googleButton:hover {
  background-color: var(--color-lightgreenhover);
}

.googleIcon {
  font-size: 24px;
}

.linkGoogle {
  display: none;
}

@media (min-width: 768px) {
  .googleButton {
    padding: 18px;
    font-size: 16px;
    line-height: 24px;
  }
}
